.body {
    margin: 0px;
    font-size: 14px;
    color: #333;
    background-color: rgb(27, 29, 30);
    
}


.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}
.titlemessage{
    margin-top: -125px;
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
}
.titlemessage .heading p{
color: antiquewhite;
text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
font-weight: 100;
letter-spacing: 7px;
}
/* Different size for main & Sub*/
.titlemessage .heading .main{
    font-size: 50px;
}
.titlemessage .heading .sub{
    font-size: 24px;
}

/* put slides nav on top of titlemessage*/
.slides-navigation{
    z-index: 6;
}
/*superslides arrows*/
.slides-navigation .prev,
.slides-navigation .next{
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev{
left: 20px;
background-image: url(../img/icons/prev.png);

}

.slides-navigation a.next{
    right: 20px;
    background-image: url(../img/icons/next.png);

}
/* About */
.section {
padding: 100px 0;

}
.aboutImage{
    max-width: 100%;
}

.skillsSection, .contactSection{
    background-color:rgb(16, 110, 97);
    color: #fff;
    margin-left: 0px;

}
.skill{
    text-align: center;
}
.chart{
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}
.chart canvas{
    position: absolute;
    left: 0;
    top: 0;
}
.chart .percent{
    color:white;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
    
}
.chart .percent::after{
    content:"%" ;
}
.squareItem{
   margin-top:20px ; 
   position: relative;
}
.squareInnerContainer{
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;
}
.squareInnerContainer:before,
.squareInnerContainer:after
{
    content:"" ;
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #444;
}
.squareInnerContainer:before{
    right: 0px;
}
.squareInnerContainer:after{
    left: 0px;
}
.squareContent h2{
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400 ;
    color:white 
}
.squareContent h3{
    font-size:  13px ;
    font-weight: 600;
    margin: 0;
}
.squareIcon{
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 59px;
    font-size: 44px;
    margin-left: -20%;
    color: white;
}
.contactButton{
    color: #fff;
    margin-top: 25px;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 2px;

}
.contactButton:hover {
    text-decoration: none;
    color: rgb(16, 110, 97);
    background-color: #fff;
}

.filter a{
  color: #ffffff;  
  border: 1px solid #ffffff;
  padding: 9px 18px;
  display: block    ;
}
.filter li{
    display: inline-block;
    padding: 10px;

}
.filter .current{
    background-color:rgb(16, 110, 97) ;
    color: #fff;
}
.filter{
    text-align: center;
    width: 100%;
}
.section .heading h2{
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}
/*styling isotope items in portfolio*/
.items li{
    display: inline-block;
    padding: 5px;
}

.itemsContainer{
    width: 100%;
}
   
.items li img{
    width: 100%;
}
.items .item{
    position: relative;
    display: block;
    overflow: hidden;
}
.items .icons{
    position:absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}
.items .icons i{
    color: white;
    font-size: 20px;
    margin-top: 9px;
}
.copyrightSection{
    background-color: #000;
    color: #fff;
    padding: 5px 5px;
}
.copyrightSection p {
    padding: 0;
}
#navigation {
   background-color: rgb(16, 110, 97); 
   padding: 20px 10px;
   z-index: 20;
}
#navigation li{
    padding: 0 10px;
}
#navigation li a{
    color: white;
}
.navbar-brand,
.navbar-brand:hover {
    color: white;

}
.fixedNav #navigation {
position: fixed;
top: 0;
width: 100%;

}
.navbar-toggler-icon{
    background: url(../img/icons/menu.png);
    background-size: 100%;
}
